body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.box {
  border: 2px solid green;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.el {
  padding: 5px;
  background: black;
  margin: 10px;
  color: aliceblue;
  display: flex;
  justify-content: left;
  align-items: center;
}

.s {
  flex-grow: 1;
}

.a {
  flex-grow: 1;
}
